@import "tailwindcss";

@theme {
  --color-default-50: #fafafa;
  --color-default-100: #f2f2f3;
  --color-default-200: #ebebec;
  --color-default-300: #e3e3e6;
  --color-default-400: #dcdcdf;
  --color-default-500: #d4d4d8;
  --color-default-600: #afafb2;
  --color-default-700: #8a8a8c;
  --color-default-800: #656567;
  --color-default-900: #404041;
  --color-default: #d4d4d8;
  --color-default-foreground: #000;

  --color-primary-50: #eee4f8;
  --color-primary-100: #d7bfef;
  --color-primary-200: #bf99e5;
  --color-primary-300: #a773db;
  --color-primary-400: #904ed2;
  --color-primary-500: #7828c8;
  --color-primary-600: #6321a5;
  --color-primary-700: #4e1a82;
  --color-primary-800: #39135f;
  --color-primary-900: #240c3c;
  --color-primary: #7828c8;
  --color-primary-foreground: #fff;

  --color-secondary-50: #dfedfd;
  --color-secondary-100: #b3d4fa;
  --color-secondary-200: #86bbf7;
  --color-secondary-300: #59a1f4;
  --color-secondary-400: #2d88f1;
  --color-secondary-500: #006fee;
  --color-secondary-600: #005cc4;
  --color-secondary-700: #00489b;
  --color-secondary-800: #003571;
  --color-secondary-900: #002147;
  --color-secondary: #006fee;
  --color-secondary-foreground: #fff;

  --color-success-50: #e2f8ec;
  --color-success-100: #b9efd1;
  --color-success-200: #91e5b5;
  --color-success-300: #68dc9a;
  --color-success-400: #40d27f;
  --color-success-500: #17c964;
  --color-success-600: #13a653;
  --color-success-700: #0f8341;
  --color-success-800: #0b5f30;
  --color-success-900: #073c1e;
  --color-success: #17c964;
  --color-success-foreground: #000;

  --color-warning-50: #fef4e4;
  --color-warning-100: #fce4bd;
  --color-warning-200: #fad497;
  --color-warning-300: #f9c571;
  --color-warning-400: #f7b54a;
  --color-warning-500: #f5a524;
  --color-warning-600: #ca881e;
  --color-warning-700: #9f6b17;
  --color-warning-800: #744e11;
  --color-warning-900: #4a320b;
  --color-warning: #f5a524;
  --color-warning-foreground: #000;

  --color-danger-50: #fee1eb;
  --color-danger-100: #fbb8cf;
  --color-danger-200: #f98eb3;
  --color-danger-300: #f76598;
  --color-danger-400: #f53b7c;
  --color-danger-500: #f31260;
  --color-danger-600: #c80f4f;
  --color-danger-700: #9e0c3e;
  --color-danger-800: #73092e;
  --color-danger-900: #49051d;
  --color-danger: #f31260;
  --color-danger-foreground: #000;

  --color-background: #ffffff;
  --color-foreground: #000000;

  --color-content1: #ffffff;
  --color-content1-foreground: #000;
  --color-content2: #f4f4f5;
  --color-content2-foreground: #000;
  --color-content3: #e4e4e7;
  --color-content3-foreground: #000;
  --color-content4: #d4d4d8;
  --color-content4-foreground: #000;

  --color-focus: #7828c8;
  --color-overlay: #ffffff;
}